/* .array-bar{
    margin: 1px; 
    display: inline-block;
    width: 0.5%;
}

.array-container{
    margin-top: 25vh;
    text-align: center;
    height: 50vh;
}

.container{
    padding-top: 10px;
    text-align: center;
} */
